.rn_CapabilityDetector .MessageContainer{font-size: 1.5em;line-height: 1em;padding: 10px;text-align: center;border-style: solid;border-width: 2px;}
.rn_NavigationTab .rn_ButtonOff{font-style: normal;}
.rn_NavigationTab .rn_ButtonOff:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f078";font-size: 1em;padding: 0.6em;}
@media screen and (max-width: 960px){.rn_NavigationTab .rn_ButtonOff:before{font-size: 1.6em;padding: 0.2em 0.6em;}
}
.rn_NavigationTab .rn_SubNavigation{background: #313e52;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding: 1em 1em 0;margin-left: -1em;position: absolute;z-index: 10;}
@media screen and (max-width: 960px){.rn_NavigationTab .rn_SubNavigation{display: block;position: static;padding-top: 0;padding-left: 2.5em;}
.rn_NavigationTab .rn_SubNavigation.rn_ScreenReaderOnly{position: absolute;}
}
.rn_NavigationTab .rn_SubNavigation a{display: block;}
.rn_AccountDropdown .rn_SubNavigation{display:block;float:none;position:absolute;z-index:1;}
.rn_AccountDropdown{*zoom: 1;max-width: 100%;}
.rn_AccountDropdown:before, .rn_AccountDropdown:after{content: " ";display: table;}
.rn_AccountDropdown:after{clear: both;}
.rn_AccountDropdown .rn_AccountDropdownParent{-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;float: right;display: inline-block;position: relative;}
.rn_AccountDropdown .rn_AccountDropdownParent > a{min-width: 150px;color: #FFF;display: block;font-size: 1em;}
@media screen and (max-width: 1088px){.rn_AccountDropdown .rn_AccountDropdownParent > a{min-width: 0;}
}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser, .rn_AccountDropdown .rn_AccountDropdownParent #rn_LoginLink, .rn_AccountDropdown .rn_AccountDropdownParent #rn_DisabledLoginLink{background: #333;border-radius: 0.1875em;padding: 0.5em 1em;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser:hover, .rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser:focus, .rn_AccountDropdown .rn_AccountDropdownParent #rn_LoginLink:hover, .rn_AccountDropdown .rn_AccountDropdownParent #rn_LoginLink:focus, .rn_AccountDropdown .rn_AccountDropdownParent #rn_DisabledLoginLink:hover, .rn_AccountDropdown .rn_AccountDropdownParent #rn_DisabledLoginLink:focus{background: #5b8cd0;}
.rn_AccountDropdown .rn_AccountDropdownParent #rn_LoginLink, .rn_AccountDropdown .rn_AccountDropdownParent #rn_DisabledLoginLink{margin: 0.6em 0 0;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser{*zoom: 1;margin-top: 0.7em;padding: 0.4em 0.5em;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser:before, .rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser:after{content: " ";display: table;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser:after{clear: both;}
@media print{.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser{padding: 0.4em 0.1em;}
}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser .rn_AvatarHolder{float: left;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser .rn_DisplayName{min-width: 100px;max-width: 120px;display: inline-block;float: left;overflow: hidden;padding: 0 1em 0 0.2em;position: relative;text-align: right;text-overflow: ellipsis;white-space: nowrap;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser .rn_DisplayName:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_AccountDropdown .rn_AccountDropdownParent .rn_LoggedInUser .rn_DisplayName:after{content: "\f0d7";margin-left: 4px;position: absolute;right: 0;top: 0;}
.rn_AccountDropdown .rn_SubNavigation{-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;background: #FFF;border: 1px solid #DDD;border-radius: 0.1875em;box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);opacity: 1;right: 0;top: 120%;visibility: visible;width: 250px;}
.rn_AccountDropdown .rn_SubNavigation.rn_ScreenReaderOnly{opacity: 0;visibility: hidden;}
.rn_AccountDropdown .rn_SubNavigation a{display: block;border-bottom: 1px solid #f1f1f1;line-height: 0.9em;padding: 12px;}
.rn_AccountDropdown .rn_SubNavigation a:first-child{border-top-right-radius: 0.1875em;border-top-left-radius: 0.1875em;}
.rn_AccountDropdown .rn_SubNavigation a:last-child{border-bottom-right-radius: 0.1875em;border-bottom-left-radius: 0.1875em;}
.rn_AccountDropdown .rn_SubNavigation a:hover, .rn_AccountDropdown .rn_SubNavigation a:focus{background: #f2f2f2;}
.rn_AccountDropdown .rn_SubNavigation:before{font-family: 'FontAwesome';margin-right: 6px;}
.rn_AccountDropdown .rn_SubNavigation:before{content: "\f0d8";font-size: 2em;position: absolute;right: 6px;top: -17px;color: #FFF;z-index: 1;}
.rn_AccountDropdown .rn_SubNavigation:after{font-family: 'FontAwesome';margin-left: 6px;}
.rn_AccountDropdown .rn_SubNavigation:after{content: "\f0d8";font-size: 2.1em;position: absolute;right: 11px;top: -19px;color: #DDD;}
.rn_HighContrastMode .rn_AccountDropdown .rn_SubNavigation:before, .rn_HighContrastMode .rn_AccountDropdown .rn_SubNavigation:after{content: none;}
.rn_SourceSearchField label{height: 1px;left: -10000px;overflow: hidden;position: absolute;top: auto;width: 1px;}
.rn_OkcsSuggestions.rn_SearchInput .rn_KASuggestTitle{font-weight: bold;}
.rn_OkcsSuggestions.rn_SearchInput ul.rn_Answer .yui3-aclist-item::before{font-family: 'FontAwesome';content: "\f15c";}
.rn_OkcsSuggestions.rn_SearchInput .rn_SuggestionItem{display: inline;}
.rn_OkcsSuggestions.rn_SearchInput .yui3-aclist-item:hover{background: none;}
.rn_OkcsSuggestions.rn_SearchInput .yui3-aclist-item:hover.yui3-aclist-item-active{background: #ebeff5 none repeat scroll 0 0;outline: 0;}
.rn_SourceSearchButton{display: inline;bottom: 0;}
.rn_SourceSearchButton input{border: 0;vertical-align: top;}
.rn_LoginDialog{*zoom: 1;padding: 2em;}
.rn_LoginDialog:before, .rn_LoginDialog:after{content: " ";display: table;}
.rn_LoginDialog:after{clear: both;}
@media screen and (max-width: 400px){.rn_LoginDialog{padding: 0;}
}
.rn_LoginDialog .rn_FormContent{float: left;display: block;margin-right: 2.35765%;width: 65.88078%;}
.rn_LoginDialog .rn_FormContent:last-child{margin-right: 0;}
.rn_LoginDialog .rn_FormContent input::-webkit-input-placeholder{color: #4c4c4c;opacity: 1;}
.rn_LoginDialog .rn_FormContent input:-moz-placeholder{color: #4c4c4c;opacity: 1;}
.rn_LoginDialog .rn_FormContent input::-moz-placeholder{color: #4c4c4c;opacity: 1;}
.rn_LoginDialog .rn_FormContent input:-ms-input-placeholder{color: #4c4c4c;opacity: 1;}
.rn_LoginDialog .rn_OpenLoginAlternative{float: left;display: block;margin-right: 2.35765%;width: 31.76157%;padding-right: 1em;border-right: 1px solid #DDD;}
.rn_LoginDialog .rn_OpenLoginAlternative:last-child{margin-right: 0;}
@media screen and (max-width: 400px){.rn_LoginDialog .rn_FormContent, .rn_LoginDialog .rn_OpenLoginAlternative{border: 0;padding: 0;float: left;display: block;margin-right: 2.35765%;width: 100%;}
.rn_LoginDialog .rn_FormContent:last-child, .rn_LoginDialog .rn_OpenLoginAlternative:last-child{margin-right: 0;}
}
.rn_LoginDialog .rn_OpenLoginIntro, .rn_LoginDialog .rn_FormTypeToggle{display: block;font-size: larger;margin-bottom: 1em;font-weight: bold;}
.rn_LoginDialog .rn_FormTypeToggle a{border: 1px solid #CCC;background: none;border-radius: 5px;padding: 2px 10px 4px;white-space: nowrap;}
.rn_LoginDialog .rn_LoginDialogContent, .rn_LoginDialog .rn_SignUpDialogContent{-webkit-animation-name: fadeIn;-moz-animation-name: fadeIn;animation-name: fadeIn;-webkit-animation-duration: 0.5s;-moz-animation-duration: 0.5s;animation-duration: 0.5s;-webkit-animation-timing-function: ease;-moz-animation-timing-function: ease;animation-timing-function: ease;-webkit-animation-iteration-count: 1;-moz-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;animation-fill-mode: both;}
.rn_LoginDialog.rn_ContentLoading .rn_FormContent:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 2em;position: relative;text-align: center;}
.rn_LoginDialog.rn_ContentLoading .rn_FormContent > *{visibility: hidden;}
.rn_LoginDialog .rn_WarningMessage{margin: 1.75em 0 0;}
@-webkit-keyframes fadeIn{0%{opacity: 0;-webkit-transform: translateY(4px);}
100%{opacity: 1;-webkit-transform: translateY(0);}
}
@-moz-keyframes fadeIn{0%{opacity: 0;-moz-transform: translateY(4px);}
100%{opacity: 1;-moz-transform: translateY(0);}
}
@-o-keyframes fadeIn{0%{opacity: 0;-o-transform: translateY(4px);}
100%{opacity: 1;-o-transform: translateY(0);}
}
@keyframes fadeIn{0%{opacity: 0;transform: translateY(4px);}
100%{opacity: 1;transform: translateY(0);}
}
.rn_OpenLogin{position: relative;*zoom: 1;}
.rn_OpenLogin:before, .rn_OpenLogin:after{content: " ";display: table;}
.rn_OpenLogin:after{clear: both;}
.rn_OpenLogin .rn_ActionArea{clear: both;margin-top: 20px;padding-left: 8px;}
@media screen and (max-width: 720px){.rn_OpenLogin .rn_ActionArea{opacity: 1;background: #FFF;padding: 10px;z-index: 10;border-radius: 0.1875em;border: 1px solid #999;margin: 0 5%;width: 90%;}
}
.rn_OpenLogin input{margin: 0 auto 18px;min-width: 210px;}
.rn_OpenLogin input[type="text"]{min-width: 210px;}
.rn_OpenLogin .rn_Explanation{background-color: #EBEFF5;border: 1px solid #CCC;font-size: 1.11em;line-height: 1.2em;padding: 10px;position: relative;text-shadow: 1px 0 0 #FFF;}
.rn_OpenLogin .rn_Header{color: #404040;display: block;font-size: 1em;font-weight: bold;line-height: 1.3em;margin: 4px 0 10px;text-shadow: 0 1px 0 #FFF;}
.rn_OpenLogin .rn_Header em{left: -18px;height: 40px;position: absolute;top: -18px;width: 22px;}
.rn_OpenLogin .rn_LoginProvider{-webkit-transition: box-shadow 0.5s;-moz-transition: box-shadow 0.5s;transition: box-shadow 0.5s;float: left;margin: 4px 6px 8px;width: 120px;border: 1px solid #DDD;border-radius: 3px;text-align: center;padding: 6px;}
.rn_OpenLogin .rn_HighContrastMode .rn_Header em{display: none;}
.rn_OpenLogin .rn_HighContrastMode .rn_LoginProvider{color: #000;font-size: 1.4em;height: 22px;padding: 10px 0 4px 30px;text-decoration: none;width: 100px;}
.rn_OpenLogin.rn_OpenLoginDialog .rn_ActionArea{position: static;}
.rn_OpenLogin.rn_OpenLoginDialog .rn_EmailLabel{display: block;font-weight: bold;margin-top: 20px;}
.rn_OpenLogin.rn_OpenLoginDialog .rn_EmailInput{margin-bottom: 8px;width: 92%;}
.rn_FormSubmit img{vertical-align: middle;}
.rn_FormSubmit button{position: relative;}
.rn_FormSubmit .rn_Loading{padding-left: 1.8em;}
.rn_FormSubmit .rn_Loading:before{font-family: 'FontAwesome';margin-right: 6px;content: "\f110";-webkit-animation: fa-spin 2s infinite linear;-moz-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;display: block;font-size: 1em;position: relative;text-align: center;left: 0.6em;position: absolute;}
.rn_FormSubmit button.rn_IeFormButton{background: #5b8cd0;cursor: not-allowed;}
.rn_SelectionInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_SelectionInput legend{visibility: visible;}
.rn_SelectionInput fieldset{background: none;border: 0;padding: 0.5em 0;}
.rn_SelectionInput fieldset label{display: inline;margin: 0 4px;vertical-align: sub;}
.rn_SelectionInput input[type="radio"]{border: 0;display: inline;margin-top: 2px;vertical-align: middle;width: auto;}
.rn_SelectionInput .rn_HintBox, .rn_SelectionInput .rn_HintBoxRight{border: 1px solid #DBDBDB;max-width: 200px;padding: 4px 16px 2px;word-wrap: break-word;}
.rn_SelectionInput .rn_HintBox.rn_AlwaysVisibleHint, .rn_SelectionInput .rn_HintBoxRight.rn_AlwaysVisibleHint{max-width: 300px;opacity: 1;z-index: 0;}
.rn_SelectionInput .rn_Label{display: inline-block;font-weight: bold;margin-bottom: 2px;}
.rn_DateInput legend{visibility:visible;}
.rn_DateInput .rn_HintBox{border:1px solid #DBDBDB;max-width:200px;padding:4px 16px 2px;word-wrap:break-word;}
.rn_DateInput .rn_HintBox.rn_AlwaysVisibleHint{max-width:300px;opacity:1;z-index:0;}
.rn_DateInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_DateInput .rn_Label{display: block;font-size: inherit;font-weight: bold;margin-bottom: 2px;}
.rn_DateInput fieldset{background: none;border: 0;padding: 0.5em 0;}
.rn_DateInput select{display: inline;margin-bottom: 0;width: 32%;}
@media screen and (max-width: 400px){.rn_DateInput select{display: block;margin-bottom: 1em;width: 100%;}
}
.rn_PasswordInput{clear: both;margin-bottom: 8px;}
.rn_PasswordInput .rn_Label{display: block;font-weight: bold;margin-bottom: 2px;}
.rn_PasswordInput .rn_PasswordLength{color: #646464;display: block;font-weight: normal;margin-top: 4px;width: 60%;}
.rn_PasswordInput .rn_Password{width: 60%;}
.rn_PasswordInput .rn_PasswordInputCurrent{margin-bottom: 10px;}
.rn_PasswordInput .rn_PasswordInputValidate{margin-top: 10px;}
.rn_PasswordInput .yui3-overlay{margin-left: 50px;background-color: #ccc;background: linear, top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46);border-radius: 6px;border: 2px solid #fff;box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);padding: 1em;max-width: 260px;}
.rn_PasswordInput .rn_Intro{font-weight: bold;font-size: 1.3em;text-shadow: 0 1px 0 #fff;}
.rn_PasswordInput .rn_Heading{margin-bottom: 10px;}
.rn_PasswordInput .rn_Meter{border: 1px solid #999;height: 12px;padding: 0;width: 100px;float: left;position: relative;margin-right: 8px;}
.rn_PasswordInput .rn_Meter div{border-top: 1px solid #FFF;height: 11px;}
.rn_HighContrastMode .rn_PasswordInput .rn_Meter div{border-top: 12px solid #FFF;height: 0;}
.rn_PasswordInput .rn_Strength{margin: 4px 0;overflow: hidden;}
.rn_PasswordInput .rn_Meter .rn_NoValidations{background: #F00;width: 25%;}
.rn_PasswordInput .rn_Meter .rn_SomeValidations{background: #FF0;width: 75%;}
.rn_PasswordInput .rn_Meter .rn_AllValidations{background: #008000;}
.rn_PasswordInput ul{padding-left: 13px;}
.rn_PasswordInput li{list-style-type: circle;padding-bottom: 3px;}
.rn_PasswordInput .rn_Fail{color: #B10101;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAA6ElEQVR42pWRwUrDQBRFb/VH8gNV23/p/3RXaHCh4KIWoboo6q5dlboQFTEZKSRfNJ4LQ2jHbho4zJ133kwyE8UYT6ILI+k8l7nrFkykopTKa2mQN7tm5x7PNZbObqUpxBspMF5aGGcIdu5xryzupKsZ4h4BNblv5mSIdu45OMMDuy0Qj5SepCbhHOz+HdrQfPEstS+UXw15Sc3u6IIVEto1ZeMMxxdseO1WChDJjXGGsMk/6Z0DfSA+mTLWbxzYOKda+Kanu9ZKmtYICF97uzm7FnDV/rX+SMVOKn/Tj+PpmeSGdu7x/A+N9hV+nr/dEgAAAABJRU5ErkJggg==');}
.rn_PasswordInput .rn_Pass{color: #015301;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABQUlEQVQoz2P4//8/AymYgeoaVHIZ2EOrZaQZGhiYCGpg0GZgK5tnmdO8zv1QwWyTEAYGBiacio2NGVjzphlmdGz0ezn1YPT/xlWuN6Ma5R3Bkv7VQrKJPUqRoQ2iEmCTgYrTJ2hm1a1wft252f9/6waf/6XzrI9FNEiaMHgX8itlTtZZXDrf4lPmZK2ZHhkCCkmdShmlcy1e1S53/F+12P5/7jSjQ6ENEmZgw8JrJYuyJ+l+KZpt+j93qv6P5C7lI5mTdF4WzjT5nzfN6H9Kt/qRgAoRY7i/fMsF5aIaZeckdaj8TO1R+58Cxqr/k7tU/sc0yx32LeYzxQhWtwwGsYAK4akRNeK/Ihsl/0fUS/wPrhQ95FfEZYgzHmwTGUR9C3lm+pfyf/Mp4jnklsdqTDDiXJMYpDyy2Us9slhNcQU3AOCKTBgpozkYAAAAAElFTkSuQmCC');}
.rn_TextInput .rn_HintBox{border:1px solid #DBDBDB;max-width:200px;padding:4px 16px 2px;word-wrap:break-word;}
.rn_TextInput .rn_HintBox.rn_AlwaysVisibleHint{max-width:300px;opacity:1;z-index:0;}
.rn_TextInput{clear: both;margin-bottom: 1.6em;overflow: visible;position: relative;}
.rn_TextInput textarea{margin: 0;}
.rn_TextInput .rn_Label{display: inline-block;font-weight: bold;margin-bottom: 2px;}
.rn_TextInput .rn_Mask{color: #555;font-style: italic;margin: 4px 12px;}
.rn_TextInput .rn_MaskBuffer{margin-top: 1.1em;}
.rn_TextInput .rn_MaskOverlay{background-color: #EEE;border: 1px solid #CCC;border-radius: 11px;border-top-right-radius: 0;border-top-left-radius: 0;box-shadow: 2px 2px 2px #888;color: #222;opacity: 0.9;padding: 11px;}
.rn_TextInput .rn_TextInputValidate{margin-top: 8px;}
.rn_DisplayNameInput .rn_DisplayNameLabel{font-weight: bold;}
.rn_DisplayNameInput .rn_DisplayNameField{padding: 4px 0;}
.rn_FieldDisplay .rn_DataLabel{float: left;font-weight: bold;}
.rn_FieldDisplay .rn_DataValue{margin-left: 180px;word-wrap: break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear: left;margin-left: 0;padding-bottom: 0.5em;}
